.viewer {
  white-space: pre-line;
}
.viewer p {
  margin: revert;
}
.viewer a {
  color: #22d3ee;
  font-style: italic;
  text-decoration: underline;
}
.viewer h1,
.viewer h2,
.viewer h3,
.viewer h4,
.viewer h5,
.viewer h6 {
  font-size: revert;
}
.viewer blockquote {
  padding: 1.125rem 0.725rem;
  font-size: 1.125rem;
  border-left: 3px solid #3b82f6;
  margin: 1.6em 0;
  background-color: #f2f2f2;
}
.viewer ol,
.viewer ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}
.viewer code,
.viewer kbd,
.viewer samp,
.viewer pre {
}
.viewer code {
}
